*{
    box-sizing: border-box;
    margin : 0px;
    padding : 0px;
}

html{
    fontsize : 32.5;
}

body{
    background: #2B292E;
    color : #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

button{
    cursor : pointer;
}

a{
    color : #6F439C;
    margin-left : 250px;
}
a:hover{
    color :white;
}

.title{
    max-width: 60rem;
    margin : 0px auto;
    padding : 0 1.6rem;

}
.forminput{
    max-width: 60rem;
    margin : 0px auto;
    padding : 0 1.6rem;
}

#colinput{
    background: #6F439C;
    color : white;
    padding : 1.6rem 0;
    height : 93px;
}

.title1{
    font-size : 2.0rem;
    margin-bottom: 0.4rem;
    font-weight : bold;
    margin-top : -15px;
    margin-left : 170px;
}

.title2{
    font-size : 1.2rem;
    font-weight: 300;
    margin-left : 170px;
    margin-top : -10px;
    margin-bottom : 15px;

}

.inputs{
    background-color: #353239;
    margin-bottom : 30px;
    height : 52px;
    margin-top : -4px;
}
.todoinputs{
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin : 0px auto;
    /*min-height: 3rem;*/
    margin-left : 200px;
    padding: 0 1.6rem;
    padding-top : 4px;
}

.todoinputs--spaced{
    justify-content: space-between;
}

.input{
    border : none;
    font-size: 1.0rem;
    font-weight: 200;
    height: 3rem;
    height : 30px;
    margin-right: 1.6rem;
    padding : 0.4rem , 0.8rem;
}
.input1{
    border : none;
    font-size: 1.0rem;
    font-weight: 200;
    height: 3rem;
    height : 30px;
    margin-right: 1.6rem;
    padding : 0.4rem , 0.8rem;
    margin-left : 167px;
    margin-top : 15px;
}
#filtertodo{
    margin-left : 170px;
    margin-top : 5px;
}

.checkbox{
    display: flex;
    align-items: baseline;
    }

    .checkbox > input{
        margin-right : 0.4rem;
    }


    .button{
        background: #7044a0;
        border : none;
        border-bottom: 2px solid #603a88;
        color:white;
        font-size : 0.8rem;
    
        width : 70px;
        height :2rem;
        transition: background .3s ease ,color .3s ease;
    }

    .button:hover{
        background: #5F3A87;
    }

    #Result{
        margin-left : 170px;
        font-weight : bold;
        font-size : 22px;
        margin-bottom : -20px;
    }
#myTable{
    margin-left : 175px;
    text-align: center;
    
  border-collapse:separate; 
  border-spacing: 0 1em;
    
  
  

}
#myTable1{
    margin-left : 175px;
    text-align: center;
    
  border-collapse:separate; 
  border-spacing: 0 1em;

}

td{
    border: 1px solid #423e47;
    margin: 2.0rem 0;
    padding-left : 3px;
    padding-right : 3px;
    
}
#myTable1{
    margin-left : 175px;
    text-align: center;
    
  border-collapse:separate; 
  border-spacing: 0 1em;

}
#myTable2{
    margin-left : 175px;
    text-align: center;
    
  border-collapse:separate; 
  border-spacing: 0 1em;


}






.jsbtn{
    margin-left : 250px;
    /*background: #423e47;*/
    outline : none;
    background: none!important;
    border: none;
    color: #aaa;
}
.jsbtn:hover{
    
    background:white;
    color : white;
    text-decoration: underline;
}
#hidecheckbox:checked{
    color : yellow;
}

#recent , #first ,#message{
    margin-top : 30px;
    margin-left : 400px;
}

